body {
  margin: 0;
  overflow-x: hidden;
  color: rgba(51, 51, 51, 0.6);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;

}

/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #8a9eb8;
  border-radius: 16px;
  border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;

}

a:hover,
a:focus,
a:active {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

/* Header */
.navbar-nav {
  align-items: center;
}

.navbar-nav>li:not(:last-child) {
  margin-right: 30px;
}

.navbar-nav>li>a {
  font-weight: 500;
  color: #2e3336;
  font-size: 14px;
}

.index-head{
  background-color: #fff;
}
.userdropdown button::after {
  content: "";
  background: url('../img/arrow-down.png') no-repeat center;
  width: 12px;
  height: 7px;
  position: absolute;
  right: -19px;
  top: 17px;
  border: 0;
}

.dropdown ul>li:not(:last-child) {
  border-bottom: 1px solid rgb(213 213 213);
}
.dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: transparent;
}
.dropdown-menu .dropdown-item {
  padding: 15px;
}
.dropdown-menu .dropdown-item {
  padding: 15px;
}
.userdropdown button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.dropdown-toggle::after {
  content: none;
}

.notification-dropdown {
  margin: 0 30px;
}

.notification-dropdown>a {
  color: #2e3336;
  font-size: 24px;
}

.userdropdown .img-box {
  margin-right: 15px;
  width: 38px;
  height: 38px;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userdropdown .text-box p {
  font-size: 14px;
}
.banner-sec{
  background: url(../img/banner-bg.png) no-repeat center center; 
  height:  650px;
  background-size: cover;
  } 
  .absolute{
    position: absolute;
    width: 100%;
  }
/* header {
  padding: 10px 0;
  background-color: #fff;
} */

.btn-signin {
  width: 90px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: #ba8b00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.btn-member {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #ba8b00;
  width: 180px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ba8b00 !important;
}

/* End Header */
/* Banner */
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-btn {
  position: absolute;
  left: 25px;
  top: 25px;
}

.breadcrumb-area {
  position: relative;
  padding: 20px 0;
}

/* End Banner */

/* Promotion Deals */
.promotion-deals-area {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  position: relative;
  margin-bottom: 50px;
}

.promotion-deals-area .nav-tabs {
  border: 0;
}

.promotion-deals-area .nav-tabs>li:not(:last-child)>button {
  padding-left: 0;
}

.promotion-deals-area .nav-tabs>li>button {
  border: 0;
  padding: 0;
  border-bottom: 2px solid transparent;
  margin: 0;
  font-size: 10px;
  color: rgba(51, 51, 51, 0.3);
  padding: 15px;
  text-transform: uppercase;
}

.promotion-deals-area::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  opacity: 0.3;
  background-color: #8a9eb8;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom-color: tan;
}

.post-item {
  margin-bottom: 30px;
}

.post-item .img-box {
  height: 143px;
  overflow: hidden;
}

.post-item .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-section .text-box h3 {
  color: black;
  margin-top: 30px;
}

.nav-item button {
  font-size: 14px !important;
}

.banner-section button.btn-theme {
  color: #fff;
  background-color: #ba8b00;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 36px;
  border-radius: 6px;
}

.banner-section a{
  color: black;
}

.post-item .text-box {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(112, 112, 112, 0.1);
  background-color: #fff;
  padding: 10px 15px;
}

 .card .card-body .product-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card .card-text {
  color: rgba(51, 51, 51, 0.3);
  font-size: 12px;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.price-box {
  border-top: solid 1px rgba(112, 112, 112, 0.1);
  background-color: #fff;
  color: #ba8b00 !important;
  padding: 5px 15px;
}
.price-box .product-price{
  color: #ba8b00;
}

.tab-content {
  background-color: transparent;
  /* padding: 22px 16px; */
}

.card{
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

/* End Promotion Deals */